// 滚动条样式
@mixin scroll-style {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #eee;
    }
}