.CodeEditor {
    height: 1000px;
    height: 600px;
    border: 1px solid #ccc;
    // margin: 100px;
    position: relative;

    .container {
        height: 100%;
        height: 100%;
        position: relative;
    }

    :global {
        .line {
            height: calc(1em + 5px);
            line-height: calc(1em + 5px);

            br {
                display: none;
            }

            &.current {
                background-color: #00000008;
            }
        }
    }

    .codeInput {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: none;

        :global {
            .line {
                color: transparent;
                caret-color: #333;
            }
        }
    }

    .codeStyleContainer {
        position: absolute;
        width: 100%;
        height: 100%;

        :global {
            .line {

                span.number {
                    color: #098658;
                }

                span.operate {
                    color: red;
                }

                span.boundary {
                    color: #795e26;
                }

                span.punctuation {
                    color: #001080;
                }

                span.keyword {
                    color: #af00db;
                }

                span.var {
                    color: #0070c1;
                }

                span.notes {
                    color: #999;
                }

                span.is-highlight {
                    background-color: #cbe2fd;
                }
            }
        }
    }

    .overlays {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
    }


}